.input-form {

  &__wikipedia {
    height: 3em;
    margin: 1em 0;
  	border: 0.05em solid #000000;
  	border-radius: 0.5em;
  	background-color: #FFFFFF;
  	font-family: "Lato", serif;
  	font-size: 1em;

    @mixin atMedium {
      margin: 0 1em 0 1em;
    }
  }
}
