.wikipedia-search {

  &__results {
  	margin: 0 5% 1.25% 5%;
  	padding: 1em;
  	border: 0.05em solid #000000;
  	border-radius: 0.5em;
  	background: #400000; /* Old browsers */
  	background: -moz-linear-gradient(top, $colorDarkRed 0%, $colorMedRed 100%); /* FF3.6-15 */
  	background: -webkit-linear-gradient(top, $colorDarkRed 0%, $colorMedRed 100%); /* Chrome10-25,Safari5.1-6 */
  	background: linear-gradient(to bottom, $colorDarkRed 0%, $colorMedRed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorDarkRed', endColorstr='$colorMedRed',GradientType=0 ); /* IE6-9 */
  	color: #FFFFFF;
  	font-family: "Lato", serif;
  	font-size: 150%;
  }
}
