.wikipedia-viewer {

  &__title {
  	display: flex;
  	justify-content: center;
  	width: 100%;
  	color: $colorDarkRed;
  	font-family: "Lato", serif;
  	font-size: 4em;
  	font-weight: thin;
  	font-variant: small-caps;
  }

  &__search {
  	display: flex;
    align-items: center;
    flex-direction: column;
  	margin: 2.5% 0;

    @mixin atMedium {
      flex-direction: row;
      justify-content: center;
    }
  }
}
